# dependencies
/node_modules
package-lock.json
web-rep-win32-x64

.DS_Store
.env
.gclient_done
**/.npmrc
.tags*
.vs/
.vscode/
*.log
*.pyc
*.sln
*.swp
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
/.idea/
/dist/
SHASUMS256.txt
**/package-lock.json
compile_commands.json
.envrc